:root {
    --orange-color: #ff6338;
    --white-color: white;
    --text-color: #707070 ;
    --title-color: #2d2d2d;
    --tiltle-font-size: 1.3rem;
    --img-width: 350px;
    --img-height: 250px;
}

body {
    font-size: 62.5% ;
}

.page-content_block {
    display: flex;
}


/* News CSS */
.news-block {
    display: flex;
}

.news-img {
    width: 20rem;
    height: 16rem;
}

.news-title {
    font-size:  var(--tiltle-font-size) ;
}

.news-title a {
    text-decoration: none;
    color: black;
}